* {
  font-family: 'Roboto', sans-serif;
}



.login-box {
  height: 100%;
  padding: 80px 0;
}

body {
  margin: 0;
  padding: 0;
}


#landing {
  margin: 0 auto;
  padding-top: 120px;
}

#partner-row {
  cursor: pointer;
}

#partner-row:hover {
  color: steelblue;
}

#months {
  padding-top: 20px;
}

#inline-p {
  display: inline-block;
}

#no-bottom-margin {
  margin-bottom: -10px;
}

#inline-h {
  display: inline-block;
  margin: 0;
}

#float-right-button {
  float: right !important;
}

#total-display {
  display: inline-block;
}

#date-dropdown {
  float: right;
  padding-left: 200px;
}

#filter-payments-title {
  margin-top: 50px;
} 

.nav-wrapper {
  background-color: #47BAA8;
}

#last-nav-item {
  padding-right: 150px;
}

#logo {
  padding-left: 50px;
}